{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>記事の登録 | INIAD掲示板</title>
  <meta charset="utf-8" >
  <body background="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2781387239,2359019480&fm=200&gp=0.jpg">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <script type="text/javascript" src="{% static 'js/script.js' %}" ></script>
</head>
<body>
<div class="main-container">
  <a href="/" >TOP</a>
  <h1 class="text-center">記事の投稿</h1>
  <form action={% url 'create'  %} method="POST">
    {% csrf_token %}
    <input type="text" class="input-text" name="name" id="name" placeholder="タイトル" />
    <br/>
    <input type="text" class="input-text" name="business_hour" id="business_hour" placeholder="学籍番号下3桁" />
    <br/>
    <input type="date" class="input-text" name="address" id="address" placeholder="日付" />
    <br/>
    <textarea class="input-text" name="detail" id="detail" placeholder="記事"></textarea>
    <div class="text-right">
        <input type="submit" value="登録ボタン">
    </div>

  </form>
</div>
</body>
</html>
