{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{{ bulletinboard.name}}| INIAD掲示板</title>
  <meta charset="utf-8" >
  <body background="http://taobao.90sheji.com/58pic/18/67/81/21R58PIChFA.jpg">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
<div class="main-container">
  <a href="/" >TOP</a>
  <h1 class="text-center">{{ bulletinboard.name}}</h1>
  番号:</h1><div>{{ bulletinboard.business_hour }}</div>
  日付:</h1><div>{{ bulletinboard.address }}</div>
  内容:</h1><div>{{ bulletinboard.detail }}</div>
  <a href="{%  url 'update' bulletinboard.id %}" >変更する</a>
</div>
</body>
</html>
