{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>INIAD掲示板</title>
  <meta charset="utf-8" >
  <body background="http://bpic.588ku.com/back_pic/00/09/85/47563079ed67d98.jpg">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/script.js' %}" ></script>
</head>
<body>
<div class="main-container">
  <h1 class="text-center"> Iちゃんねる</h1>
    <table id="table">
    <td class="text-right">
      <a href="{% url 'create' %}" >記事を書く</a>
    </td>
  </tr>
  {% for bulletinboard in bulletinboard %}
  <tr>
    <td>
      {{ forloop.counter }}
    </td>
    <td>
      <a href="{% url 'detail' bulletinboard.id %}" >
        {{ bulletinboard.name }}
      </a>
    </td>
    <td class="text-right">
      <a href="{% url 'update' bulletinboard.id %}" >
        編集
      </a>
    </td>
  </tr>
  {% endfor %}
  </table>
</div>
<script>
var iniadluhchmap = {};
iniadluhchmap.bulletinboard = [
  {% for bulletinboard in bulletinboard %}
    ["{{ bulletinboard.name }}","{{ bulletinboard.address }}"],
  {% endfor %}
];
window.iniadbulletinboard = iniadbulletinboard;
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWrg3bSYdtXKS3GKxdxnTxW5-gjTduBjc&callback=initMap">
</script>
</body>
</html>
