{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>情報の変更 | INIAD掲示板</title>
  <meta charset="utf-8" >
  <body background="http://taobao.90sheji.com/58pic/16/52/51/26758PICwih.jpg!/fwfh/555x463/quality/90/unsharp/true/compress/true/format/webp">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <script type="text/javascript" src="{% static 'js/script.js' %}" ></script>
</head>
<body>
<div class="main-container">
  <a href="/" >TOP</a>
  <h1 class="text-center">情報の変更</h1>
  <form method="POST">
    {% csrf_token %}
    <input type="text" class="input-text" name="name" placeholder="学籍番号下3桁" value="{{ bulletinboard.name }}" />
    <br/>
    <input type="text" class="input-text" name="business_hour" placeholder="タイトル" value="{{ bulletinboard.business_hour }}" />
    <br/>
    <input type="text" class="input-text" name="address" placeholder="日付" value="{{ bulletinboard.address }}" />
    <br/>
    <textarea class="input-text" name="detail" placeholder="記事">{{ bulletinboard.detail }}</textarea>
    <a style="float: left;" href="{% url 'detail' bulletinboard.id %}" >詳細へ</a>
    <div class="text-right">
        <input type="submit" value="登録ボタン">
    </div>
  </form>
</div>
</body>
</html>
